<div class='subscription-bar__wrapper {{settings.plugin_outlet}}'>
    <div class='subscription-bar__container'>
        <div class='subscription-bar__button'>
            <a id="subscription-bar__button_text" {{on 'click' this.handleClick}}>
                <i class="fa fa-save"></i> 
                {{#if this.isMobile}}
                    - Mobile
                {{else}}
                    - Desktop
                {{/if}}
            </a>
            <button class="btn">
                <i class="fa fa-save"></i>
            </button>
            
        </div>

    </div>
</div>