<div class='subscription-bar__wrapper {{settings.plugin_outlet}}'>
    <div class='subscription-bar__container'>
        <div class='subscription-bar__button'>
            <a id="subscription" {{on 'click' this.handleClick}}>
                Subscription
            </a>
        </div>
    </div>
</div>