<div class='subscription-bar__wrapper {{settings.plugin_outlet}}'>
    <div class='subscription-bar__container'>
        <div class='subscription-bar__title'>
            ไม่พลาดทุกข้อมูลที่ช่วยคุณตัดสินใจในการลงทุน
        </div>
        <div class='subscription-bar__button'>
            <a id="subscription-bar__button_text" {{on 'click' this.handleClick}}>
                Subscribe
                {{#if this.isMobile}}
                    
                {{else}}
                    
                {{/if}}
            </a>
            
        </div>

    </div>
</div>